Repository ciselab/Lampion, changes with the labels that .github/labeler.yml gives for each.
All labels: Java, Test, Documentation, Database, Docker, Configuration, Git, Integration

.github/labeler.yml:

Java:
- JavaObfuscator/src/*
- ./.github/workflows/BuildObfuscator.yml

Test:
- JavaObfuscator/src/test/*

Documentation:
- ./**/*.md

Database:
- database/*

Docker:
- ./**/Dockerfile
- ./**/docker-compose.yml

Configuration:
- .github/*.yml
- .github/*.yaml
- .github/**/*.yml
- .github/**/*.yaml
- .github/workflow/*
- JavaObfuscator/pom.xml
- ./**/*.yml
- ./**/*.yaml
- ./**/*.json
- ./**/*.xml
- .gitignore

Git:
- .github/*
- .gitignore
- ./**/.gitignore

Integration:
- ./**/docker-compose.yml

Added IfTrue-Transformation
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/IfTrueTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/TransformationCategory.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SpoonTests.java
  Resources/Transformations.md
Labels: Documentation

Added Tests for Registry and IfTrueTransformation
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/App.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/IfTrueTransformer.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SpoonTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/IfTrueTransformerTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/TransformerRegistryTests.java
Labels: none

Added some tests and fixed to TransformationResults basic functions
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/SimpleTransformationResult.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/IfTrueTransformerTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/TransformationResultTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/TransformerRegistryTests.java
Labels: none

Added ParameterRenaming Transformation
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/Transformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/BaseTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/IfTrueTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/RandomParameterNameTransformer.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SpoonTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/IfTrueTransformerTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/RandomParameterNameTransformerTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/TransformerRegistryTests.java
Labels: none

Added RandomInlineCommentTransformer and Tests
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/RandomInlineCommentTransformer.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SpoonTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/RandomInlineCommentTransformerTests.java
Labels: none

Added a exploration test for later writing of code after alternation
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SpoonTests.java
Labels: none

Added Draft for engine, as well as a rudimentary system test
  JavaObfuscator/.gitignore
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/Engine.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/RandomParameterNameTransformer.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SpoonTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/program/EngineTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/RandomParameterNameTransformerTests.java
Labels: Git

Added Interface for manifest writer, mocks for testing and some logging in Engine
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/manifest/ManifestWriter.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/Engine.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/manifest/MockWriter.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/program/EngineTests.java
Labels: none

Added LambdaIdentityTransformer
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/TransformationCategory.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/LambdaIdentityTransformer.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SpoonTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/LambdaIdentityTransformerTests.java
Labels: none

Two minor tests added
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/LambdaIdentityTransformer.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/LambdaIdentityTransformerTests.java
Labels: none

draft for schema
  ManifestSchema/.gitignore
  ManifestSchema/README.md
  ManifestSchema/createManifestTables.sql
Labels: Documentation, Git

Fleshed out the schema
  ManifestSchema/createManifestTables.sql
Labels: none

Added uniqueness and simple link to java obfuscator resources
  JavaObfuscator/src/main/resources/createManifestTables.lnk
  ManifestSchema/createManifestTables.sql
Labels: none

WIP Commit for SQLite Driver
  JavaObfuscator/pom.xml
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/manifest/SqliteManifestWriter.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SqliteTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/LambdaIdentityTransformerTests.java
Labels: Configuration

WIP for SQL Exploration
  JavaObfuscator/src/main/resources/createManifestTables.lnk
  JavaObfuscator/src/main/resources/createManifestTables.sql
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SqliteTests.java
Labels: none

Still WIP
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SqliteTests.java
Labels: none

Added a simple readme for Obfuscator, changed the LambdaIdentityTransformer to be java-compilable
  JavaObfuscator/README.md
  Resources/Transformations.md
Labels: Documentation

Update BuildObfuscator.yml
  .github/workflows/BuildObfuscator.yml
Labels: Java, Configuration

WIP for Skeleton of SQLiteWriter
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/manifest/SqliteManifestWriter.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SqliteTests.java
  ManifestSchema/createManifestTables.sql
Labels: none

SQLwriter with everything except Positions
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/manifest/SqliteManifestWriter.java
Labels: none

Finished Draft for SQLiteManifestWriter
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/manifest/SqliteManifestWriter.java
Labels: none

WIP failing SQLWriter Tests due to missing parent elements after clone
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/manifest/SqliteManifestWriter.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/Engine.java
  JavaObfuscator/src/main/resources/config.properties
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/manifest/SQLiteManifestWriterTests.java
Labels: none

Fixed the Clone issue, added regression tests for them, now there are new issues with SQLite but SQLite only
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/Engine.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/SimpleTransformationResult.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/IfTrueTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/LambdaIdentityTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/RandomInlineCommentTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/RandomParameterNameTransformer.java
  JavaObfuscator/src/main/resources/example.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/program/EngineTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/RandomParameterNameTransformerTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/TransformationResultTests.java
  JavaObfuscator/src/test/resources/sqlitemanifest_tests/readCategoriesAndNames.db
  JavaObfuscator/src/test/resources/sqlitemanifest_tests/readCategoryMappings.db
  JavaObfuscator/src/test/resources/sqlitemanifest_tests/readExtraInfo.db
  JavaObfuscator/src/test/resources/sqlitemanifest_tests/readTransformations.db
Labels: none

First set of SQLite Tests are running properly now
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/manifest/SqliteManifestWriter.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/manifest/SQLiteManifestWriterTests.java
  JavaObfuscator/src/test/resources/sqlitemanifest_tests/readCategoriesAndNames.db
  JavaObfuscator/src/test/resources/sqlitemanifest_tests/readCategoryMappings.db
  JavaObfuscator/src/test/resources/sqlitemanifest_tests/readExtraInfo.db
  JavaObfuscator/src/test/resources/sqlitemanifest_tests/readTransformations.db
Labels: none

Enhanced doc and tests for sqlite manifest writer
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/manifest/SqliteManifestWriter.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/manifest/SQLiteManifestWriterTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/program/EngineTests.java
  JavaObfuscator/src/test/resources/bad_sql_schema.sql
  ManifestSchema/README.md
  Resources/DesignNotes.md
Labels: Documentation

Updated Toplevel manifest
  ManifestSchema/createManifestTables.sql
Labels: none

Draft for building Engine from configuration
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/App.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/Transformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/BaseTransformer.java
  JavaObfuscator/src/main/resources/config.properties
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/manifest/SQLiteManifestWriterTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/program/AppTest.java
Labels: none

Changed to shaded compiler
  JavaObfuscator/dependency-reduced-pom.xml
  JavaObfuscator/pom.xml
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/Engine.java
  ManifestSchema/.gitignore
Labels: Configuration, Git

WIP implementation for dynamic Class Loading
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/App.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/program/AppTest.java
Labels: none

Removed static-delegate logic
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/App.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/Engine.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/IfTrueTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/LambdaIdentityTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/RandomInlineCommentTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/RandomParameterNameTransformer.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SpoonTests.java
Labels: none

Added compilation to IfTrue Statement, if True Statement now has better returns in the else branch, had to fix tests accordingly
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/IfTrueTransformer.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/exploration/SpoonTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/manifest/SQLiteManifestWriterTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/program/EngineTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/IfTrueTransformerTests.java
  JavaObfuscator/src/test/resources/javafiles/example.java
Labels: none

Removed LambdaTransformer for the moment
  .gitignore
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/App.java
  ManifestSchema/.gitignore
Labels: Configuration, Git

Added a random word supplier shared amongst transformers
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/App.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/support/RandomNameFactory.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/LambdaIdentityTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/RandomInlineCommentTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/RandomParameterNameTransformer.java
Labels: none

Added a EmptyMethod Transformer
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/App.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/EmptyMethodTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/IfTrueTransformer.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/EmptyMethodTransformerTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/RandomParameterNameTransformerTests.java
Labels: none

Hardened SQLiteManifestWriter to ignore files if there are none
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/manifest/SqliteManifestWriter.java
  Resources/Transformations.md
Labels: Documentation

Deactivated RandomInlineCommentTransformer until Spoon is fixed/gives feedback - reactivated lambda transformer
  JavaObfuscator/pom.xml
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/program/App.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/EmptyMethodTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/RandomInlineCommentTransformer.java
  JavaObfuscator/src/main/java/com/github/ciselab/lampion/transformations/transformers/RandomParameterNameTransformer.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/regression/RegressionTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/RandomInlineCommentTransformerTests.java
  JavaObfuscator/src/test/java/com/github/ciselab/lampion/transformations/RandomParameterNameTransformerTests.java
Labels: Configuration
