Repository ciselab/Lampion, changes with the labels that .github/labeler.yml gives for each.
All labels: Java, Python, Test, Documentation, Database, Docker, Configuration, Git, Integration

Adjust App.java & config to include new transformer and add test suite for new transformer
  Transformers/Java/src/main/java/com/github/ciselab/lampion/program/App.java
  Transformers/Java/src/main/java/com/github/ciselab/lampion/transformations/transformers/RenameVariableTransformer.java
  Transformers/Java/src/main/resources/config.properties
  Transformers/Java/src/test/java/com/github/ciselab/lampion/transformations/RandomParameterNameTransformerTests.java
  Transformers/Java/src/test/java/com/github/ciselab/lampion/transformations/RenameVariableTransformerTests.java
Labels: Java, Test

Fix todo and add javadoc to renameVariableTransformer class
  Transformers/Java/src/main/java/com/github/ciselab/lampion/transformations/transformers/RenameVariableTransformer.java
Labels: Java

Remove noise and add tests to RenameVariableTransformer
  Transformers/Java/pom.xml
  Transformers/Java/src/main/java/com/github/ciselab/lampion/transformations/transformers/RenameVariableTransformer.java
  Transformers/Java/src/test/java/com/github/ciselab/lampion/transformations/RenameVariableTransformerTests.java
Labels: Java, Test, Configuration

Bug fix for pom.xml
  Transformers/Java/pom.xml
Labels: Configuration

Add test for different seeds
  Transformers/Java/src/test/java/com/github/ciselab/lampion/transformations/RenameVariableTransformerTests.java
Labels: Java, Test

Fix test names and fix config.properties for renameVariableTransformer
  Transformers/Java/src/main/resources/config.properties
  Transformers/Java/src/test/java/com/github/ciselab/lampion/transformations/RenameVariableTransformerTests.java
Labels: Java, Test

Small adjustment to properties
  Transformers/Java/src/main/resources/Docker/config.properties
  Transformers/Java/src/main/resources/config.properties
Labels: Java

Added UserIDs to the templates
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-with-training-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/preprocessing-docker-compose.yaml.j2
Labels: none

Grid Experiment is now all in one folder created - added 'lang' to configurable parameters
  Experiments/CodeBert_CodeToText/grid-experiment/.gitignore
  Experiments/CodeBert_CodeToText/grid-experiment/main.py
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-with-training-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/preprocessing-docker-compose.yaml.j2
Labels: Git

Added copying to output, version for codebert, marker on template
  Experiments/CodeBert_CodeToText/grid-experiment/.gitignore
  Experiments/CodeBert_CodeToText/grid-experiment/README.md
  Experiments/CodeBert_CodeToText/grid-experiment/java-removal-info.txt
  Experiments/CodeBert_CodeToText/grid-experiment/java_configuration.json
  Experiments/CodeBert_CodeToText/grid-experiment/main.py
  Experiments/CodeBert_CodeToText/grid-experiment/python_configuration.json
  Experiments/CodeBert_CodeToText/grid-experiment/sample_configuration.json
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-with-training-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/preprocessing-docker-compose.yaml.j2
Labels: Documentation, Configuration, Git

(Test) Dataset names are configurable for Grid Experiment
  Experiments/CodeBert_CodeToText/grid-experiment/java_configuration.json
  Experiments/CodeBert_CodeToText/grid-experiment/main.py
  Experiments/CodeBert_CodeToText/grid-experiment/python_configuration.json
  Experiments/CodeBert_CodeToText/grid-experiment/sample_configuration.json
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/preprocessing-docker-compose.yaml.j2
Labels: Configuration

Fixed paths in experiment-output
  Experiments/CodeBert_CodeToText/grid-experiment/README.md
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-with-training-docker-compose.yaml.j2
Labels: Documentation

Added a simple runner script
  Experiments/CodeBert_CodeToText/grid-experiment/README.md
  Experiments/CodeBert_CodeToText/grid-experiment/java_configuration.json
  Experiments/CodeBert_CodeToText/grid-experiment/main.py
  Experiments/CodeBert_CodeToText/grid-experiment/runner.sh
Labels: Documentation, Configuration

Add debug mode in entrypoint
  Transformers/Java/CLI/src/main/resources/Docker/entrypoint.sh
  Transformers/Java/CLI/src/main/resources/log4j2.xml
  Transformers/Java/pom.xml
Labels: Configuration

Hopefully resolve conflicts
  Transformers/Java/CLI/src/main/resources/Docker/config.properties
  Transformers/Java/CLI/src/main/resources/config.properties
Labels: none

Uppercased templates, aligned Java and Python config
  Experiments/CodeBert_CodeToText/grid-experiment/README.md
  Experiments/CodeBert_CodeToText/grid-experiment/java_configuration.json
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-with-training-docker-compose.yaml.j2
Labels: Documentation, Configuration

Changed replicator for different paths
  Experiments/CodeBert_CodeToText/grid-experiment/replicator.sh
Labels: none

Added some labels to default build command
  Experiments/CodeBert_CodeToText/preprocessing-java/README.md
  Experiments/CodeBert_CodeToText/preprocessing-python/README.md
Labels: Documentation

Fixed an Issue with removing all comments read from config
  Transformers/Java/src/main/java/com/github/ciselab/lampion/program/App.java
Labels: Java

Fixed a bug regarding comment removal
  Transformers/Java/CLI/src/main/java/com/github/ciselab/lampion/cli/program/App.java
Labels: none

Added Equals and Hashcode to the Transformers
  Transformers/Java/Core/pom.xml
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/AddNeutralElementTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/AddUnusedVariableTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/BaseTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/EmptyMethodTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/IfFalseElseTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/IfTrueTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/LambdaIdentityTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/RandomInlineCommentTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/RandomParameterNameTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/RemoveAllCommentsTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/RenameVariableTransformer.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/program/EngineTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/AddNeutralElementTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/AddUnusedVariableTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/EmptyMethodTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/IfFalseElseTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/IfTrueTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/LambdaIdentityTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/RandomInlineCommentTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/RandomParameterNameTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/RemoveAllCommentsTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/RenameVariableTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/TransformerEqualityTests.java
  Transformers/Java/pom.xml
Labels: Configuration

Updated some Design Notes
  Resources/DesignNotes.md
Labels: Documentation

Fix dockers and add documentation for all components
  Transformers/Java/.dockerignore
  Transformers/Java/CLI/README.md
  Transformers/Java/CLI/pom.xml
  Transformers/Java/Core/.dockerignore
  Transformers/Java/Core/Dockerfile
  Transformers/Java/Core/README.md
  Transformers/Java/Core/pom.xml
  Transformers/Java/Dockerfile
  Transformers/Java/README.md
  Transformers/Java/docker-compose.yml
  Transformers/Java/src/main/resources/Docker/config.properties
  Transformers/Java/src/main/resources/Docker/entrypoint.sh
  Transformers/Java/src/main/resources/config.properties
  Transformers/Java/src/main/resources/example.java
  Transformers/Java/src/main/resources/log4j2.xml
Labels: Java, Documentation, Docker, Configuration, Integration

Fix paths for resources used by docker
  Transformers/Java/CLI/README.md
  Transformers/Java/Dockerfile
  Transformers/Java/resources/Docker/config.properties
  Transformers/Java/resources/Docker/entrypoint.sh
  Transformers/Java/resources/config.properties
  Transformers/Java/resources/example.java
  Transformers/Java/resources/log4j2.xml
Labels: Documentation, Docker, Configuration

Typo in Java Preprocessing entrypoint
  Experiments/CodeBert_CodeToText/preprocessing-java/entrypoint.sh
Labels: none

Changed default template values
  Experiments/CodeBert_CodeToText/grid-experiment/java_configuration.json
  Experiments/CodeBert_CodeToText/grid-experiment/python_configuration.json
  Experiments/CodeBert_CodeToText/grid-experiment/templates/config.properties.j2
Labels: Configuration

Did some Docker Cleaning
  Transformers/Java/CLI/.dockerignore
  Transformers/Java/CLI/.gitignore
  Transformers/Java/CLI/compose_output/lampion/test/examples/Example.java
  Transformers/Java/CLI/compose_output/lampion/test/examples/Example2.java
  Transformers/Java/CLI/src/main/resources/log4j2.xml
  Transformers/Java/Core/Dockerfile
  Transformers/Java/Dockerfile
  Transformers/Java/docker-compose.yml
  Transformers/Java/resources/Docker/entrypoint.sh
Labels: Docker, Configuration, Git, Integration

Minor changes to quality of life, main now copies more files
  Experiments/CodeBert_CodeToText/grid-experiment/INSTRUCTIONS.md
  Experiments/CodeBert_CodeToText/grid-experiment/README.md
  Experiments/CodeBert_CodeToText/grid-experiment/main.py
  Experiments/CodeBert_CodeToText/grid-experiment/replicator.sh
Labels: Documentation

Removed from compose templates
  Experiments/CodeBert_CodeToText/grid-experiment/.gitignore
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-with-training-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/preprocessing-docker-compose.yaml.j2
Labels: Git

Moved elements from Poms around, no target for parent pom anymore
  Transformers/Java/CLI/pom.xml
  Transformers/Java/pom.xml
Labels: Configuration

Renamed Artifacts to have Lampion in it (Lampion-Core & Lampion-CLI)
  Transformers/Java/CLI/pom.xml
  Transformers/Java/Core/pom.xml
Labels: Configuration

Updated Dockerfile to use new paths after Library Split
  Transformers/Java/Dockerfile
Labels: Docker

Some Input Sanitazion for Config Stringrandomness
  Transformers/Java/CLI/src/main/java/com/github/ciselab/lampion/cli/program/App.java
Labels: none

Added Log4J2 for the Lampion-CLI
  Transformers/Java/CLI/pom.xml
Labels: Configuration

Added module-info for Transformer CLI
  Transformers/Java/CLI/pom.xml
  Transformers/Java/CLI/src/main/java/module-info.java
Labels: Configuration

Added more info to parent-pom
  Transformers/Java/pom.xml
Labels: Configuration

Updated CI to use Secrets with Docker and different Image Names
  .github/workflows/BuildJavaTransformer.yml
  .github/workflows/BuildJavaTransformer_OnSchedule.yml
  Transformers/Java/README.md
Labels: Java, Documentation, Configuration

Bumped JavaTransformer to version 1.3 after Library Split
  .github/workflows/BuildJavaTransformer.yml
  .github/workflows/BuildJavaTransformer_OnSchedule.yml
  Transformers/Java/CLI/pom.xml
  Transformers/Java/Core/pom.xml
  Transformers/Java/Dockerfile
  Transformers/Java/README.md
  Transformers/Java/docker-compose.yml
  Transformers/Java/pom.xml
Labels: Java, Documentation, Docker, Configuration, Integration

Bumped Java Transformer to 1.4-SNAPSHOT
  .github/workflows/BuildJavaTransformer.yml
  .github/workflows/BuildJavaTransformer_OnSchedule.yml
  Transformers/Java/CLI/pom.xml
  Transformers/Java/Core/pom.xml
  Transformers/Java/Dockerfile
  Transformers/Java/README.md
  Transformers/Java/pom.xml
Labels: Java, Documentation, Docker, Configuration

Ups
  Transformers/Java/CLI/pom.xml
Labels: Configuration

.github/labeler.yml:

Java:
- ./Transformers/Java/src/**
- ./.github/workflows/BuildJavaTransformer.yml
- ./.github/workflows/BuildJavaTransformer_OnSchedule.yml

Python:
- ./Transformers/Python/lampion/**
- ./.github/workflows/BuildPythonTransformer.yml
- ./.github/workflows/BuildPythonTransformer_onSchedule.yml

Test:
- ./Transformers/Java/src/test/**
- ./Transformers/Python/tests/**

Documentation:
- ./**/*.md

Database:
- ManifestSchema/*

Docker:
- ./**/Dockerfile
- ./**/docker-compose.yml

Configuration:
- .github/*.yml
- .github/*.yaml
- .github/**/*.yml
- .github/**/*.yaml
- .github/workflow/*
- -/**/pom.xml
- ./**/*.yml
- ./**/*.yaml
- ./**/*.json
- ./**/*.xml
- .gitignore

Git:
- .github/*
- .gitignore
- ./**/.gitignore

Integration:
- ./**/docker-compose.yml
