Repository ciselab/Lampion, changes with the labels that .github/labeler.yml gives for each.
All labels: Java, Python, Test, Documentation, Database, Docker, Configuration, Git, Integration

.github/labeler.yml:

Java:
- ./Transformers/Java/src/**
- ./.github/workflows/BuildJavaTransformer.yml
- ./.github/workflows/BuildJavaTransformer_OnSchedule.yml

Python:
- ./Transformers/Python/lampion/**
- ./.github/workflows/BuildPythonTransformer.yml
- ./.github/workflows/BuildPythonTransformer_onSchedule.yml

Test:
- ./Transformers/Java/src/test/**
- ./Transformers/Python/tests/**

Documentation:
- ./**/*.md

Database:
- ManifestSchema/*

Docker:
- ./**/Dockerfile
- ./**/docker-compose.yml

Configuration:
- .github/*.yml
- .github/*.yaml
- .github/**/*.yml
- .github/**/*.yaml
- .github/workflow/*
- -/**/pom.xml
- ./**/*.yml
- ./**/*.yaml
- ./**/*.json
- ./**/*.xml
- .gitignore

Git:
- .github/*
- .gitignore
- ./**/.gitignore

Integration:
- ./**/docker-compose.yml

Create labeler.yml
  .github/workflows/labeler.yml
Labels: Configuration

Update and rename housekeeping.yml to dependamerge.yml
  .github/workflows/dependamerge.yml
Labels: Configuration

Removed Manifest Writer from Code
  Transformers/Java/src/main/java/com/github/ciselab/lampion/manifest/ManifestWriter.java
  Transformers/Java/src/main/java/com/github/ciselab/lampion/manifest/SqliteManifestWriter.java
  Transformers/Java/src/main/java/com/github/ciselab/lampion/program/App.java
  Transformers/Java/src/main/java/com/github/ciselab/lampion/program/Engine.java
Labels: Java

Removed Manifest from Tests, changed tests to check for results in Engine
  Transformers/Java/src/main/java/com/github/ciselab/lampion/program/Engine.java
  Transformers/Java/src/test/java/com/github/ciselab/lampion/exploration/SqliteTests.java
  Transformers/Java/src/test/java/com/github/ciselab/lampion/manifest/MockWriter.java
  Transformers/Java/src/test/java/com/github/ciselab/lampion/manifest/SQLiteManifestWriterTests.java
  Transformers/Java/src/test/java/com/github/ciselab/lampion/program/EngineTests.java
Labels: Java, Test

Removed Manifest from Supplementary files and references to it
  ManifestSchema/.gitignore
  ManifestSchema/ERD.txt
  ManifestSchema/ERDiagram.PNG
  ManifestSchema/README.md
  ManifestSchema/createManifestTables.sql
  README.md
  Resources/DesignNotes.md
  Transformers/Java/Dockerfile
  Transformers/Java/pom.xml
  Transformers/Java/src/main/java/com/github/ciselab/lampion/program/Engine.java
  Transformers/Java/src/main/resources/Docker/config.properties
  Transformers/Java/src/main/resources/config.properties
  Transformers/Java/src/main/resources/createManifestTables.sql
  Transformers/Java/src/test/resources/bad_sql_schema.sql
  Transformers/Python/LICENSE
  Transformers/Python/README.md
  Transformers/Python/lampion/components/engine.py
Labels: Java, Python, Test, Documentation, Database, Docker, Configuration, Git

Updated Dependabot Automerge Job
  .github/workflows/dependamerge.yml
Labels: Configuration

Initial Commit
  .gitignore
  README.md
  my_sample_files/A.py
  my_sample_files/B.py
  output.txt
  python_encodings/python_encoding.enc_bpe_10000
  python_encodings/python_encoding.enc_bpe_2000
  python_encodings/python_encoding.enc_bpe_5000
  requirements.txt
Labels: Documentation, Configuration, Git

Added file-preprocessing, some logging in a script
  .gitignore
  my_sample_files/folder/C.py
  prep.py
Labels: Configuration, Git

Added Argparse, entrypoint, docker & docker compose
  Dockerfile
  docker-compose.yaml
  entrypoint.sh
  prep.py
Labels: Docker, Configuration

Added some corner cases that occurred in docker
  .gitignore
  docker-compose.yaml
  output.txt
  prep.py
Labels: Configuration, Git

Updated Readme
  README.md
Labels: Documentation

Added support for different input file types
  Dockerfile
  README.md
  docker-compose.yaml
  entrypoint.sh
  prep.py
Labels: Documentation, Docker, Configuration

Ran PyCharms Reformat, changed logging to not print milliseconds
  prep.py
Labels: none

Update README.md
  README.md
Labels: Documentation

Added Broad-Error handling for File-Parsing
  Transformers/Python/lampion/cli.py
  Transformers/Python/requirements.txt
Labels: Python

Changed logging format
  Transformers/Python/lampion/cli.py
Labels: Python

Removed Dependamerge
  .github/workflows/dependamerge.yml
Labels: Configuration

Added Mark on limitations of Python Transformer (Python 3 only)
  Transformers/Python/README.md
  Transformers/Python/lampion/cli.py
Labels: Python, Documentation

Added skeleton for OpenVocabCodeNLM Preprocessing
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/.gitignore
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/README.md
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/filter.sh
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/python_dataset_stats/small_training_set.txt
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/python_dataset_stats/test_set.txt
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/python_dataset_stats/validation_set.txt
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/reduce.properties
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/reduce.sh
Labels: Documentation, Git

Small Error-Catch if no fails happened
  Transformers/Python/lampion/cli.py
Labels: Python

Updated Test-Suite, fixed an error in adding results when reading in files
  Transformers/Python/lampion/cli.py
  Transformers/Python/tests/test_cli.py
  Transformers/Python/tests/transformers/test_addneutral.py
  Transformers/Python/tests/transformers/test_lambdaidentity.py
Labels: Python, Test

Changes to logging, some error handling to file-out-writing
  Transformers/Python/lampion/cli.py
  Transformers/Python/lampion/components/engine.py
Labels: Python

Added a docker compose to filter elements using the Lampion Transformer
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/README.md
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/filter-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/filter.sh
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/properties/filter.properties
Labels: Documentation, Configuration

Added Tests for handling errors with bad python files
  Transformers/Python/README.md
  Transformers/Python/tests/test_cli.py
  Transformers/Python/tests/test_inputs/buggy_and_ok_files/faulty_py3.py
  Transformers/Python/tests/test_inputs/buggy_and_ok_files/goodbye_world.py
  Transformers/Python/tests/test_inputs/buggy_and_ok_files/hello_world.py
  Transformers/Python/tests/test_inputs/buggy_and_ok_files/python2.py
  Transformers/Python/tests/test_inputs/buggy_files/faulty_py3.py
  Transformers/Python/tests/test_inputs/buggy_files/python2.py
Labels: Test, Documentation

Implemented only-write-touched for python parts
  Transformers/Python/lampion/cli.py
  Transformers/Python/lampion/components/engine.py
  Transformers/Python/tests/test_engine.py
Labels: Python, Test

Added only printing touched files to Docker
  Transformers/Python/Dockerfile
  Transformers/Python/entrypoint.sh
Labels: Docker

Added Example Docker Compose for Lampion Python Transformer
  Transformers/Python/.gitignore
  Transformers/Python/docker-compose.yaml
  Transformers/Python/tests/test_configs/sample.properties
Labels: Test, Configuration, Git

Figured out some example values, example compose is now running
  Transformers/Python/README.md
  Transformers/Python/docker-compose.yaml
  Transformers/Python/lampion/cli.py
  Transformers/Python/tests/test_configs/sample.properties
Labels: Python, Test, Documentation, Configuration

Bugfixes necessary for OpenVocabCodeNLM, mostly re-trying
  Transformers/Python/lampion/cli.py
  Transformers/Python/lampion/components/engine.py
  Transformers/Python/lampion/transformers/addneutral.py
  Transformers/Python/lampion/transformers/lambdaidentity.py
  Transformers/Python/lampion/transformers/renameparam.py
  Transformers/Python/lampion/transformers/renamevar.py
  Transformers/Python/tests/transformers/test_addneutral.py
Labels: Python, Test

Made the Max-Tries configurable in Transformers, adjusted some tests for new default-values
  Transformers/Python/lampion/transformers/addcomment.py
  Transformers/Python/lampion/transformers/addneutral.py
  Transformers/Python/lampion/transformers/addvar.py
  Transformers/Python/lampion/transformers/basetransformer.py
  Transformers/Python/lampion/transformers/lambdaidentity.py
  Transformers/Python/lampion/transformers/renameparam.py
  Transformers/Python/lampion/transformers/renamevar.py
  Transformers/Python/tests/transformers/test_addneutral.py
  Transformers/Python/tests/transformers/test_lambdaidentity.py
Labels: Python, Test

Added Tests for LibCST and Brackets
  Transformers/Python/lampion/transformers/addneutral.py
  Transformers/Python/lampion/transformers/lambdaidentity.py
  Transformers/Python/tests/transformers/test_addneutral.py
Labels: Python, Test

Added reduce bracket function and some tests, not used in code yet
  Transformers/Python/lampion/transformers/addneutral.py
  Transformers/Python/tests/transformers/test_addneutral.py
Labels: Python, Test

Drafted Reduce brackets for Lambda Identity
  Transformers/Python/lampion/transformers/addneutral.py
  Transformers/Python/lampion/transformers/lambdaidentity.py
  Transformers/Python/tests/transformers/test_lambdaidentity.py
Labels: Python, Test

Fixed the tests (mostly by bumping re-tries)
  Transformers/Python/lampion/transformers/lambdaidentity.py
  Transformers/Python/tests/transformers/test_addneutral.py
  Transformers/Python/tests/transformers/test_addvar.py
  Transformers/Python/tests/transformers/test_lambdaidentity.py
Labels: Python, Test

Added Seeds to Lambda Identity Tests, still moving parts
  Transformers/Python/tests/TestNotes.md
  Transformers/Python/tests/transformers/test_lambdaidentity.py
Labels: Test, Documentation

Added Seeds to Add Neutral Tests
  Transformers/Python/tests/transformers/test_addneutral.py
Labels: Test

Added seeds to other transformers tests
  Transformers/Python/tests/transformers/test_addcomment.py
  Transformers/Python/tests/transformers/test_addvar.py
  Transformers/Python/tests/transformers/test_renameparam.py
  Transformers/Python/tests/transformers/test_renamevar.py
Labels: Test

Added (failing) tests for bracket reduction
  Transformers/Python/tests/test_cli.py
  Transformers/Python/tests/test_engine.py
  Transformers/Python/tests/transformers/test_addneutral.py
  Transformers/Python/tests/transformers/test_lambdaidentity.py
Labels: Test

Streamlined add neutral whitespace-around-plus behaviour
  Transformers/Python/lampion/transformers/addneutral.py
  Transformers/Python/tests/transformers/test_addneutral.py
  Transformers/Python/tests/transformers/test_lambdaidentity.py
Labels: Python, Test

[WIP] adding tests and streamlining lambda identity reduction
  Transformers/Python/lampion/transformers/lambdaidentity.py
  Transformers/Python/tests/transformers/test_lambdaidentity.py
Labels: Python, Test
