Repository ciselab/Lampion, changes with the labels that .github/labeler.yml gives for each.
All labels: Java, Python, Test, Documentation, Docker, Configuration, Experiment, Git, Integration

Added Badges to Readme
  README.md
Labels: Documentation

Added a getSeed for Transformers
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/Transformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/BaseTransformer.java
Labels: Java

Version Bumped SLF4J
  Transformers/Java/pom.xml
Labels: Java, Configuration

Bumped requirements for Python Transformer
  Transformers/Python/requirements.txt
Labels: Python

Bumped Log4J Versions, tiny adjustments to tests necessary. Closes #177 #192 #199 #201 #202 #207
  Transformers/Java/CLI/pom.xml
  Transformers/Java/CLI/src/test/java/com/github/ciselab/lapion/cli/program/AppTest.java
  Transformers/Java/Core/pom.xml
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/program/EngineTests.java
  Transformers/Java/pom.xml
Labels: Java, Test, Configuration

Removed Login from Docker CI
  .github/workflows/BuildJavaTransformer.yml
  .github/workflows/BuildJavaTransformer_OnSchedule.yml
Labels: Java, Configuration

Removed Docker login from Python CI
  .github/workflows/BuildPythonTransformer.yml
  .github/workflows/BuildPythonTransformer_OnSchedule.yml
Labels: Python, Configuration

New Attempt at Dependabot AUtomergin in CI
  .github/workflows/dependabot-automerge.yml
Labels: Configuration

Simple dependency bump
  Transformers/Java/CLI/pom.xml
  Transformers/Java/Core/pom.xml
  Transformers/Java/pom.xml
Labels: Java, Configuration

Bumped Spoon
  Transformers/Java/pom.xml
Labels: Java, Configuration

Bump / Change slf versions
  Transformers/Java/CLI/pom.xml
  Transformers/Java/pom.xml
Labels: Java, Configuration

dos2unix run
  Transformers/Java/docker-compose.yml
Labels: Java, Docker, Configuration, Integration

Moved to SLF4j-simple
  Transformers/Java/CLI/pom.xml
  Transformers/Java/pom.xml
Labels: Java, Configuration

Removed Transformer Distribution - only even distributions now
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/program/Engine.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/program/EngineTests.java
Labels: Java, Test

Updated Readme
  Transformers/Java/README.md
Labels: Java, Documentation

added pips break-system-packages
  Experiments/CodeBert_CodeToText/preprocessing-java/Dockerfile
  Experiments/CodeBert_CodeToText/preprocessing-java/README.md
Labels: Documentation, Docker, Experiment

.github/labeler.yml:

Java:
- ./Transformers/Java/**
- ./.github/workflows/BuildJavaTransformer.yml
- ./.github/workflows/BuildJavaTransformer_OnSchedule.yml
- ./**/*.java

Python:
- ./Transformers/Python/**
- ./.github/workflows/BuildPythonTransformer.yml
- ./.github/workflows/BuildPythonTransformer_onSchedule.yml
- ./**/*.py

Test:
- ./Transformers/Java/**/test/**
- ./Transformers/Python/**/tests/**

Documentation:
- ./**/*.md
- ./Resources/**

Docker:
- ./**/Dockerfile
- ./**/docker-compose.yml

Configuration:
- .github/*.yml
- .github/*.yaml
- .github/**/*.yml
- .github/**/*.yaml
- .github/workflow/*
- -/**/pom.xml
- ./**/*.yml
- ./**/*.yaml
- ./**/*.json
- ./**/*.xml
- .gitignore

Experiment:
- ./Experiments/**

Git:
- .github/*
- .gitignore
- ./**/.gitignore

Integration:
- ./**/docker-compose.yml
