Repository ciselab/Lampion, changes with the labels that .github/labeler.yml gives for each.
All labels: Java, Python, Test, Documentation, Database, Docker, Configuration, Git, Integration

.github/labeler.yml:

Java:
- ./Transformers/Java/src/**
- ./.github/workflows/BuildJavaTransformer.yml
- ./.github/workflows/BuildJavaTransformer_OnSchedule.yml

Python:
- ./Transformers/Python/lampion/**
- ./.github/workflows/BuildPythonTransformer.yml
- ./.github/workflows/BuildPythonTransformer_onSchedule.yml

Test:
- ./Transformers/Java/src/test/**
- ./Transformers/Python/tests/**

Documentation:
- ./**/*.md

Database:
- ManifestSchema/*

Docker:
- ./**/Dockerfile
- ./**/docker-compose.yml

Configuration:
- .github/*.yml
- .github/*.yaml
- .github/**/*.yml
- .github/**/*.yaml
- .github/workflow/*
- -/**/pom.xml
- ./**/*.yml
- ./**/*.yaml
- ./**/*.json
- ./**/*.xml
- .gitignore

Git:
- .github/*
- .gitignore
- ./**/.gitignore

Integration:
- ./**/docker-compose.yml

Minor Typo in Preprocessing Java Dockerfile
  Experiments/CodeBert_CodeToText/preprocessing-java/Dockerfile
Labels: Docker

Changes to Python Transformer CI
  .github/workflows/BuildPythonTransformer.yml
  .github/workflows/BuildPythonTransformer_OnSchedule.yml
Labels: Python, Configuration

Updated Paper Results
  Experiments/CodeBert_CodeToText/evaluation/data/python_results_20220404.tar.gz
Labels: none

Re-Worked to support multiple folders when reading in the data
  Experiments/CodeBert_CodeToText/evaluation/metric_runner.sh
Labels: none

Results have references too
  Experiments/CodeBert_CodeToText/evaluation/data/python_results_20220404.tar.gz
Labels: none

Added (fitting) Reference data and some more movement in the NoteBook
  Experiments/CodeBert_CodeToText/evaluation/Evaluation.ipynb
  Experiments/CodeBert_CodeToText/evaluation/data/python_results_20220404.tar.gz
Labels: none

Progress on Multi-Language skript, redo of mapping and archetypes
  Experiments/CodeBert_CodeToText/evaluation/Evaluation.ipynb
Labels: none

Finished update for everything except friedman
  Experiments/CodeBert_CodeToText/evaluation/Evaluation.ipynb
  Experiments/CodeBert_CodeToText/evaluation/images/chi_tests_per_config_java.csv
  Experiments/CodeBert_CodeToText/evaluation/images/chi_tests_per_config_python.csv
Labels: none

Cleanup
  Experiments/CodeBert_CodeToText/evaluation/images/.gitignore
  Experiments/CodeBert_CodeToText/evaluation/images/chi_tests_per_config_java.csv
  Experiments/CodeBert_CodeToText/evaluation/images/chi_tests_per_config_python.csv
Labels: Git

Fixed Bleu Scores for Multi-Projects
  Experiments/CodeBert_CodeToText/evaluation/Evaluation.ipynb
Labels: none

Fixed export of Getter and Setter, added table for RQ2
  Experiments/CodeBert_CodeToText/evaluation/Evaluation.ipynb
Labels: none

Update R script
  Experiments/CodeBert_CodeToText/evaluation/R/scripts.R
Labels: none

Fxiing the titles for the Nemenyi plots
  Experiments/CodeBert_CodeToText/evaluation/R/scripts.R
Labels: none

Updated Export of values to R, gitignored, added one example bleu file
  Experiments/CodeBert_CodeToText/evaluation/Evaluation.ipynb
  Experiments/CodeBert_CodeToText/evaluation/R/.gitignore
  Experiments/CodeBert_CodeToText/evaluation/exports/bleus.csv.zip
Labels: Git

minor renaming
  Experiments/CodeBert_CodeToText/evaluation/R/scripts.R
Labels: none

Added Gold Length to Anova
  Experiments/CodeBert_CodeToText/evaluation/R/scripts.R
Labels: none

Added comments and renaming to R script
  Experiments/CodeBert_CodeToText/evaluation/R/scripts.R
Labels: none

Fix wrong version of CORE dependency in CLI pom
  Transformers/Java/CLI/pom.xml
Labels: Configuration

minor changes to R
  Experiments/CodeBert_CodeToText/evaluation/R/scripts.R
Labels: none

Gitignored R History
  Experiments/CodeBert_CodeToText/evaluation/R/.gitignore
Labels: Git

Minor Changes to Notebook, Saved Plots from R
  Experiments/CodeBert_CodeToText/evaluation/R/Nemenyi_Java_MTs_10T.pdf
  Experiments/CodeBert_CodeToText/evaluation/R/Nemenyi_Java_MTs_1T.pdf
  Experiments/CodeBert_CodeToText/evaluation/R/Nemenyi_Java_MTs_5T.pdf
  Experiments/CodeBert_CodeToText/evaluation/R/Nemenyi_MTs.pdf
  Experiments/CodeBert_CodeToText/evaluation/R/Nemenyi_Python_MTs_10T.pdf
  Experiments/CodeBert_CodeToText/evaluation/R/Nemenyi_Python_MTs_1T.pdf
  Experiments/CodeBert_CodeToText/evaluation/R/Nemenyi_Python_MTs_5T.pdf
  Experiments/CodeBert_CodeToText/evaluation/R/Nemenyi_Ts.pdf
  Experiments/CodeBert_CodeToText/evaluation/R/anova_output.txt
  Experiments/CodeBert_CodeToText/evaluation/R/scripts.R
  Experiments/CodeBert_CodeToText/evaluation/exports/bleus.csv.zip
  Experiments/CodeBert_CodeToText/evaluation/exports/bleus.zip
Labels: none

Add profile to not shade the CLI jar
  Transformers/Java/CLI/pom.xml
Labels: Configuration

Fix bug where no methods are found in class
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/TransformerUtils.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/AddNeutralElementTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/AddUnusedVariableTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/IfFalseElseTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/IfTrueTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/LambdaIdentityTransformer.java
Labels: none

Fix bound bug remainding transformers and deal with empty optionals for picking random variables
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/AddNeutralElementTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/AddUnusedVariableTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/EmptyMethodTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/IfFalseElseTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/IfTrueTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/LambdaIdentityTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/RandomInlineCommentTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/RandomParameterNameTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/RenameVariableTransformer.java
Labels: none

Forgot one check for last commit with the unused variable blocks
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/AddUnusedVariableTransformer.java
Labels: none

Per Transformer Tests for #91 and #109
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/EmptyMethodTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/IfFalseElseTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/IfTrueTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/RandomInlineCommentTransformer.java
  Transformers/Java/Core/src/main/java/com/github/ciselab/lampion/core/transformations/transformers/RemoveAllCommentsTransformer.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/AddNeutralElementTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/AddUnusedVariableTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/EmptyMethodTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/IfFalseElseTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/IfTrueTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/LambdaIdentityTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/RandomInlineCommentTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/RandomParameterNameTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/RemoveAllCommentsTransformerTests.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/transformations/RenameVariableTransformerTests.java
  Transformers/Java/Core/src/test/resources/javafiles/unsupported_corner_cases/abstract_class.java
  Transformers/Java/Core/src/test/resources/javafiles/unsupported_corner_cases/example_enum.java
  Transformers/Java/Core/src/test/resources/javafiles/unsupported_corner_cases/example_interface.java
  Transformers/Java/Core/src/test/resources/javafiles/unsupported_corner_cases/inner_class.java
Labels: none

Note on #109 and #91 in DesignNotes
  Resources/DesignNotes.md
Labels: Documentation

Specific exploration test for #91
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/exploration/SpoonTests.java
Labels: none

Added High-Level Tests for #91 and #109
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/regression/EngineEdgeCases.java
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/regression/RegressionTests.java
Labels: none

Manual Version Bump for Java Dependencies
  Transformers/Java/CLI/pom.xml
  Transformers/Java/Core/src/test/java/com/github/ciselab/lampion/core/regression/EngineEdgeCases.java
  Transformers/Java/pom.xml
Labels: Configuration

Manually bumping Python Dependencies, closes #108, #107, #101, #95,#93
  Transformers/Python/requirements.txt
Labels: none

Added Nofiles profile to fix CI for Java Transformer
  .github/workflows/BuildJavaTransformer.yml
  .github/workflows/BuildJavaTransformer_OnSchedule.yml
  Transformers/Java/CLI/pom.xml
Labels: Java, Configuration

Reverted Java CI Action to v2.4
  .github/workflows/BuildJavaTransformer.yml
  .github/workflows/BuildJavaTransformer_OnSchedule.yml
Labels: Java, Configuration

Reverted Java CI Action to v2
  .github/workflows/BuildJavaTransformer.yml
  .github/workflows/BuildJavaTransformer_OnSchedule.yml
Labels: Java, Configuration

Added Tags to a tricky test and bumped the Java CI Versions again
  .github/workflows/BuildJavaTransformer.yml
  .github/workflows/BuildJavaTransformer_OnSchedule.yml
  Transformers/Java/CLI/src/test/java/com/github/ciselab/lapion/cli/program/AppTest.java
Labels: Java, Configuration
