Repository ciselab/Lampion, changes with the labels that .github/labeler.yml gives for each.
All labels: Java, Python, Test, Documentation, Database, Docker, Configuration, Git, Integration

.github/labeler.yml:

Java:
- ./Transformers/Java/src/**
- ./.github/workflows/BuildJavaTransformer.yml
- ./.github/workflows/BuildJavaTransformer_OnSchedule.yml

Python:
- ./Transformers/Python/lampion/**
- ./.github/workflows/BuildPythonTransformer.yml
- ./.github/workflows/BuildPythonTransformer_onSchedule.yml

Test:
- ./Transformers/Java/src/test/**
- ./Transformers/Python/tests/**

Documentation:
- ./**/*.md

Database:
- ManifestSchema/*

Docker:
- ./**/Dockerfile
- ./**/docker-compose.yml

Configuration:
- .github/*.yml
- .github/*.yaml
- .github/**/*.yml
- .github/**/*.yaml
- .github/workflow/*
- -/**/pom.xml
- ./**/*.yml
- ./**/*.yaml
- ./**/*.json
- ./**/*.xml
- .gitignore

Git:
- .github/*
- .gitignore
- ./**/.gitignore

Integration:
- ./**/docker-compose.yml

properties and compose for data augmentation test
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/data-augmentation-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/filter-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/properties/augment-test.properties
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/properties/augment-training.properties
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/properties/augment-valid.properties
Labels: Configuration

Extracted literals_helpers, which seems to have had side-effects
  Transformers/Python/lampion/transformers/addneutral.py
  Transformers/Python/lampion/transformers/lambdaidentity.py
  Transformers/Python/lampion/transformers/literal_helpers.py
  Transformers/Python/tests/transformers/test_lambdaidentity.py
  Transformers/Python/tests/transformers/test_literal_helpers.py
Labels: Python, Test

Added note about issues in TestNotes and removed some class-attributes as they are fragile
  Transformers/Python/lampion/transformers/addcomment.py
  Transformers/Python/lampion/transformers/addvar.py
  Transformers/Python/lampion/transformers/lambdaidentity.py
  Transformers/Python/lampion/transformers/literal_helpers.py
  Transformers/Python/lampion/transformers/renameparam.py
  Transformers/Python/lampion/transformers/renamevar.py
  Transformers/Python/tests/TestNotes.md
Labels: Python, Test, Documentation

Added Regex to requirements and Docker build
  Transformers/Python/Dockerfile
  Transformers/Python/lampion/transformers/addneutral.py
  Transformers/Python/requirements.txt
  Transformers/Python/tests/transformers/test_addneutral.py
  Transformers/Python/tests/transformers/test_lambdaidentity.py
Labels: Python, Test, Docker

Tiny bit more error handling for add neutral and lambda identity
  Transformers/Python/lampion/transformers/addneutral.py
  Transformers/Python/lampion/transformers/lambdaidentity.py
Labels: Python

Added per_class scope for engine and tests for it
  Transformers/Python/README.md
  Transformers/Python/lampion/components/engine.py
  Transformers/Python/requirements.txt
  Transformers/Python/tests/test_configs/sample.properties
  Transformers/Python/tests/test_engine.py
Labels: Python, Test, Documentation

Added Failure-Handling for global scope engine, and tests for it
  Transformers/Python/lampion/components/engine.py
  Transformers/Python/tests/test_engine.py
Labels: Python, Test

Updated some tests after checking coverage
  Transformers/Python/lampion/transformers/renameparam.py
  Transformers/Python/lampion/transformers/renamevar.py
  Transformers/Python/tests/transformers/test_addcomment.py
  Transformers/Python/tests/transformers/test_addneutral.py
  Transformers/Python/tests/transformers/test_addvar.py
  Transformers/Python/tests/transformers/test_lambdaidentity.py
  Transformers/Python/tests/transformers/test_renameparam.py
  Transformers/Python/tests/transformers/test_renamevar.py
Labels: Python, Test

Applied some linting
  Transformers/Python/lampion/cli.py
  Transformers/Python/lampion/components/engine.py
  Transformers/Python/lampion/transformers/addneutral.py
  Transformers/Python/lampion/transformers/basetransformer.py
  Transformers/Python/lampion/transformers/lambdaidentity.py
  Transformers/Python/lampion/transformers/renamevar.py
Labels: Python

python Transformer Version Bump to 0.0.2
  Transformers/Python/Dockerfile
  Transformers/Python/README.md
  Transformers/Python/requirements.txt
  Transformers/Python/setup.cfg
Labels: Documentation, Docker

Moved OpenVocabCodeNLM Preprocessing to different folder
  Experiments/OpenVocabCodeNLM/preprocessing/.gitignore
  Experiments/OpenVocabCodeNLM/preprocessing/Dockerfile
  Experiments/OpenVocabCodeNLM/preprocessing/README.md
  Experiments/OpenVocabCodeNLM/preprocessing/docker-compose.yaml
  Experiments/OpenVocabCodeNLM/preprocessing/entrypoint.sh
  Experiments/OpenVocabCodeNLM/preprocessing/my_sample_files/A.py
  Experiments/OpenVocabCodeNLM/preprocessing/my_sample_files/B.py
  Experiments/OpenVocabCodeNLM/preprocessing/my_sample_files/folder/C.py
  Experiments/OpenVocabCodeNLM/preprocessing/prep.py
  Experiments/OpenVocabCodeNLM/preprocessing/python_encodings/python_encoding.enc_bpe_10000
  Experiments/OpenVocabCodeNLM/preprocessing/python_encodings/python_encoding.enc_bpe_2000
  Experiments/OpenVocabCodeNLM/preprocessing/python_encodings/python_encoding.enc_bpe_5000
Labels: Documentation, Docker, Configuration, Git

Trial Data Augmentation
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/.gitignore
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/test-data-augmentation-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/training-data-augmentation-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/valid-data-augmentation-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/README.md
  Experiments/OpenVocabCodeNLM/preprocessing/Dockerfile
  Experiments/OpenVocabCodeNLM/preprocessing/docker-compose.yaml
Labels: Documentation, Docker, Configuration, Git

Added two more experiments
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/per-class-data-augmentation-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/Dataset_Preparation/properties/augment-per-class.properties
  Experiments/OpenVocabCodeNLM/preprocessing/preprocess-augment-trial-docker-compose.yaml
Labels: Configuration

Added an example trial run from the received augmented data
  Experiments/OpenVocabCodeNLM/trial-run-augment/README.md
  Experiments/OpenVocabCodeNLM/trial-run-augment/atr-ate-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/trial-run-augment/atr-nte-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/trial-run-augment/fill-an.sh
  Experiments/OpenVocabCodeNLM/trial-run-augment/ntr-ate-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/trial-run-augment/ntr-nte-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/trial-run-augment/run.sh
Labels: Documentation, Configuration

[WIP] Skeleton for Grid-Data-Augmentation
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/README.md
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/grid_configuration.json
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/grid_configuration_tiny.json
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/make_augment_grid.py
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/templates/augment-docker-compose.yaml.j2
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/templates/grid_experiment.properties.j2
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/templates/preprocess-docker-compose.yaml.j2
  Experiments/OpenVocabCodeNLM/preprocessing/.gitignore
Labels: Documentation, Configuration, Git

First draft of Augmentation-Grid
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/.gitignore
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/make_augment_grid.py
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/packer.sh
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/run.sh
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/templates/augment-docker-compose.yaml.j2
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/templates/grid_experiment.properties.j2
  Experiments/OpenVocabCodeNLM/Grid_Dataset_Augmentation/templates/preprocess-docker-compose.yaml.j2
Labels: Git

Update ntr-ate-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/trial-run-augment/ntr-ate-docker-compose.yaml
Labels: Configuration

Update ntr-ate-docker-compose.yaml
  Experiments/OpenVocabCodeNLM/trial-run-augment/ntr-ate-docker-compose.yaml
Labels: Configuration

Updated Toplevel readme to call the Augment-Run off for OpenVocabCodeNLM
  Experiments/OpenVocabCodeNLM/README.md
Labels: Documentation

Fixed CI for Python Build
  .github/workflows/BuildPythonTransformer.yml
  .github/workflows/BuildPythonTransformer_OnSchedule.yml
Labels: Python, Configuration

Renamed (and bumped) CodeBert preprocessing to be java-specific
  Experiments/CodeBert_CodeToText/Preprocessing/README.md
  Experiments/CodeBert_CodeToText/Preprocessing/docker-compose.yml
Labels: Documentation, Docker, Configuration, Integration

Found another remnant of codebert-preprocessing
  Experiments/CodeBert_CodeToText/Java/GridExperiment/templates/preprocessing-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/README.md
Labels: Documentation

Added sample file for python preprocessing
  Experiments/CodeBert_CodeToText/Python/Preprocessing/README.md
  Experiments/CodeBert_CodeToText/Python/Preprocessing/compose_input/.gitignore
  Experiments/CodeBert_CodeToText/Python/Preprocessing/compose_input/python.jsonl
  Experiments/CodeBert_CodeToText/README.md
Labels: Documentation, Git

Added (preliminary?) jsonl_to_python
  Experiments/CodeBert_CodeToText/Python/Preprocessing/environment.yml
  Experiments/CodeBert_CodeToText/Python/Preprocessing/jsonl_to_python.py
Labels: Configuration

Added draft for python to jsonl
  Experiments/CodeBert_CodeToText/Python/Preprocessing/.gitignore
  Experiments/CodeBert_CodeToText/Python/Preprocessing/compose_output/.gitignore
  Experiments/CodeBert_CodeToText/Python/Preprocessing/python_to_jsonl.py
Labels: Git

Docker-Update for Preprocessing Python
  Experiments/CodeBert_CodeToText/Python/Preprocessing/Dockerfile
  Experiments/CodeBert_CodeToText/Python/Preprocessing/README.md
  Experiments/CodeBert_CodeToText/Python/Preprocessing/docker-compose.yml
  Experiments/CodeBert_CodeToText/Python/Preprocessing/entrypoint.sh
  Experiments/CodeBert_CodeToText/Python/Preprocessing/environment.yml
  Experiments/CodeBert_CodeToText/Python/Preprocessing/jsonl_to_python.py
  Experiments/CodeBert_CodeToText/Python/Preprocessing/sample_config/config.properties
Labels: Documentation, Docker, Configuration, Integration

Updated Labels for Dockerfiles
  Experiments/CodeBert_CodeToText/Java/Preprocessing/Dockerfile
  Experiments/CodeBert_CodeToText/Python/Preprocessing/Dockerfile
Labels: Docker

Updated grid experiment to work for different preprocessing containers requirements.txt instead of conda environment.yml Readme updates main.py from grid experiment takes more args
  Experiments/CodeBert_CodeToText/README.md
  Experiments/CodeBert_CodeToText/grid-experiment/.gitignore
  Experiments/CodeBert_CodeToText/grid-experiment/README.md
  Experiments/CodeBert_CodeToText/grid-experiment/environment.yml
  Experiments/CodeBert_CodeToText/grid-experiment/main.py
  Experiments/CodeBert_CodeToText/grid-experiment/requirements.txt
  Experiments/CodeBert_CodeToText/grid-experiment/templates/config.properties.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/experiment-with-training-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/grid-experiment/templates/preprocessing-docker-compose.yaml.j2
  Experiments/CodeBert_CodeToText/preprocessing-java/Dockerfile
Labels: Documentation, Docker, Configuration, Git

Removed Conda Environment, added pip requirements.txt Linting and formatting in python files
  Experiments/CodeBert_CodeToText/preprocessing-java/Dockerfile
  Experiments/CodeBert_CodeToText/preprocessing-java/README.md
  Experiments/CodeBert_CodeToText/preprocessing-java/entrypoint.sh
  Experiments/CodeBert_CodeToText/preprocessing-java/environment.yml
  Experiments/CodeBert_CodeToText/preprocessing-java/java_to_jsonl.py
  Experiments/CodeBert_CodeToText/preprocessing-java/jsonl_to_java.py
  Experiments/CodeBert_CodeToText/preprocessing-java/requirements.txt
Labels: Documentation, Docker, Configuration

Moved input and output directory from config to console #65
  Transformers/Java/Dockerfile
  Transformers/Java/compose_output/lampion/test/examples/Example.java
  Transformers/Java/compose_output/lampion/test/examples/Example2.java
  Transformers/Java/docker-compose.yml
  Transformers/Java/src/main/java/com/github/ciselab/lampion/program/App.java
  Transformers/Java/src/main/java/com/github/ciselab/lampion/program/Engine.java
  Transformers/Java/src/main/resources/Docker/config.properties
  Transformers/Java/src/main/resources/Docker/entrypoint.sh
  Transformers/Java/src/main/resources/config.properties
Labels: Java, Docker, Configuration, Integration

Updated the CodeBERT Java Preprocessing to use new Transformer Console
  Experiments/CodeBert_CodeToText/preprocessing-java/Dockerfile
  Experiments/CodeBert_CodeToText/preprocessing-java/docker-compose.yml
  Experiments/CodeBert_CodeToText/preprocessing-java/entrypoint.sh
  Transformers/Java/README.md
Labels: Documentation, Docker, Configuration, Integration

Removed Undo Action #65
  Experiments/CodeBert_CodeToText/Python/Preprocessing/compose_output/altered_python.jsonl
  Transformers/Java/pom.xml
  Transformers/Java/src/main/java/com/github/ciselab/lampion/program/App.java
Labels: Java, Configuration

Added IfTrue Transformer to Python
  Transformers/Python/lampion/transformers/iftrue.py
  Transformers/Python/tests/transformers/test_iftrue.py
Labels: Python, Test

Added ifFalseElse Transformer to Python
  Transformers/Python/lampion/transformers/iffalseelse.py
  Transformers/Python/tests/transformers/test_iffalseelse.py
Labels: Python, Test

Changed per_class to perClassEach in Python Transformer #65 and added IfTrue and IfFalseElse to default engine and behaviour
  Transformers/Python/lampion/components/engine.py
  Transformers/Python/lampion/transformers/addneutral.py
  Transformers/Python/lampion/transformers/addvar.py
  Transformers/Python/lampion/transformers/basetransformer.py
  Transformers/Python/tests/test_cli.py
  Transformers/Python/tests/test_configs/sample.properties
  Transformers/Python/tests/test_configs/test4.properties
  Transformers/Python/tests/test_engine.py
  Transformers/Python/tests/transformers/test_iffalseelse.py
  Transformers/Python/tests/transformers/test_iftrue.py
Labels: Python, Test

Renamed handwriting to handwriting java
  Experiments/CodeBert_CodeToText/handwriting-java/README.md
  Experiments/CodeBert_CodeToText/handwriting-java/compose_input/handwritten.jsonl
  Experiments/CodeBert_CodeToText/handwriting-java/docker-compose.yaml
  Experiments/CodeBert_CodeToText/handwriting-java/environment.yml
  Experiments/CodeBert_CodeToText/handwriting-java/javadir_to_jsonl.py
  Experiments/CodeBert_CodeToText/handwriting-java/javafiles/exampleA.java
  Experiments/CodeBert_CodeToText/handwriting-java/javafiles/exampleB.java
  Experiments/CodeBert_CodeToText/handwriting-java/model/.gitignore
Labels: Documentation, Configuration, Git

Adjusted Dockerfiles and versions to match updated Transformers
  Experiments/CodeBert_CodeToText/Python/Preprocessing/compose_output/altered_python.jsonl
  Experiments/CodeBert_CodeToText/preprocessing-java/Dockerfile
  Experiments/CodeBert_CodeToText/preprocessing-java/entrypoint.sh
  Experiments/CodeBert_CodeToText/preprocessing-python/Dockerfile
  Experiments/CodeBert_CodeToText/preprocessing-python/README.md
  Experiments/CodeBert_CodeToText/preprocessing-python/docker-compose.yml
  Experiments/CodeBert_CodeToText/preprocessing-python/entrypoint.sh
  Experiments/CodeBert_CodeToText/preprocessing-python/sample_config/config.properties
  Transformers/Python/README.md
Labels: Documentation, Docker, Configuration, Integration

Some scripts to produce cleaned python datasets
  Experiments/CodeBert_CodeToText/preprocessing-python/docker-compose-data-cleaner.yml
  Experiments/CodeBert_CodeToText/preprocessing-python/docker-compose.yml
  Experiments/CodeBert_CodeToText/preprocessing-python/sample_config/clean.properties
Labels: Docker, Configuration, Integration

Change engine.run to take an CtModel and return an EngineResult object. This means that the file IO can now be done in App.java
  Transformers/Java/src/main/java/com/github/ciselab/lampion/program/App.java
  Transformers/Java/src/main/java/com/github/ciselab/lampion/program/Engine.java
  Transformers/Java/src/main/java/com/github/ciselab/lampion/support/EngineResult.java
  Transformers/Java/src/test/java/com/github/ciselab/lampion/program/EngineTests.java
Labels: Java, Test

Add RenameVariableTransformer and adjust some javadoc that was not correct in the RandomParameterNameTransformer
  Transformers/Java/src/main/java/com/github/ciselab/lampion/program/Engine.java
  Transformers/Java/src/main/java/com/github/ciselab/lampion/transformations/transformers/RandomParameterNameTransformer.java
  Transformers/Java/src/main/java/com/github/ciselab/lampion/transformations/transformers/RenameVariableTransformer.java
Labels: Java
